* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif; }

:root {
  font-size: 62.5%; }
  @media (max-width: 720px) {
    :root {
      font-size: 55%; } }

body {
  font-size: 1.6rem; }

img {
  max-width: 100%; }

.container {
  width: 100%;
  max-width: 124.6rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

header {
  background-color: #5F3CA1;
  height: 11.9rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%; }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .container ul {
      display: flex;
      align-items: center;
      gap: 5.6rem; }
      header .container ul a {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        color: #FCFCFC;
        font-weight: 400;
        line-height: 1.9rem; }
  @media (max-width: 700px) {
    header .container {
      flex-direction: column;
      gap: 30px; } }
  @media (max-width: 440px) {
    header {
      height: initial;
      padding-block: 30px; }
      header .container {
        justify-content: center;
        gap: 0px; }
        header .container ul {
          display: none; } }

::-webkit-scrollbar {
  background-color: #dedede; }

::-webkit-scrollbar-thumb {
  background-color: #FFBF00;
  border-radius: 0.8rem; }

.section-main {
  background-color: #5F3CA1;
  height: 66.7rem;
  box-shadow: inset 0 -9.8rem 0 0rem #ffffff;
  margin-top: 11.9rem;
  padding-top: 5rem; }
  .section-main .container {
    display: flex;
    justify-content: space-between; }
    .section-main .container .text {
      max-width: 55rem;
      color: #ffffff; }
      .section-main .container .text h1 {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 1.6rem; }
      .section-main .container .text p {
        max-width: 48.8rem;
        margin-bottom: 3.2rem;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%; }
      .section-main .container .text a {
        background-color: #FFBF00;
        color: #5F3CA1;
        padding: 1.6rem 5rem;
        border-radius: 6px;
        cursor: pointer;
        display: inline-block;
        transition: .3s ease;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 8.6rem; }
        .section-main .container .text a:hover {
          background-color: #371870c9;
          color: #ffffff; }
      .section-main .container .text .seta {
        display: flex;
        align-items: center;
        gap: 1.6rem; }
        .section-main .container .text .seta img {
          background-color: rgba(124, 90, 186, 0.4);
          padding: 0.9rem;
          border-radius: 0.6rem; }
        .section-main .container .text .seta span {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px; }
    .section-main .container .img {
      padding-top: 4rem; }
      .section-main .container .img img {
        width: 100%;
        height: 540px;
        object-fit: contain; }
    @media (max-width: 1279px) {
      .section-main .container {
        flex-direction: column; }
        .section-main .container .text {
          text-align: center;
          margin: 0 auto; }
          .section-main .container .text p {
            max-width: initial; }
          .section-main .container .text a {
            margin-bottom: 40px; }
          .section-main .container .text .seta {
            justify-content: center; }
        .section-main .container .img img {
          position: relative;
          left: -29px; } }
    @media (max-width: 720px) {
      .section-main .container .img {
        display: flex;
        align-items: center; }
        .section-main .container .img img {
          max-width: 600px;
          height: initial;
          left: -15px; }
      .section-main .container .text h1 {
        font-size: 36px; }
      .section-main .container .text p {
        font-size: 16px; } }
  @media (max-width: 1280px) {
    .section-main {
      height: initial;
      box-shadow: initial;
      padding-bottom: 40px; } }
  @media (max-width: 440px) {
    .section-main {
      margin-top: 8.7rem;
      padding-top: initial; } }

.section-resources .container {
  padding-bottom: 40px; }
  .section-resources .container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 51px;
    margin-bottom: 53px; }
    .section-resources .container .top h2 {
      max-width: 502px;
      font-weight: 700;
      font-size: 32px;
      line-height: 130%; }
    .section-resources .container .top span {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%; }
  .section-resources .container .cards {
    display: flex;
    align-items: center;
    gap: 20px; }
    .section-resources .container .cards li {
      width: 280px;
      height: 323px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 42px;
      transition: .3s ease; }
      .section-resources .container .cards li img {
        background-color: rgba(196, 189, 219, 0.13);
        padding: 20px;
        border-radius: 12px;
        margin-bottom: 30px; }
      .section-resources .container .cards li h3 {
        color: #5F3CA1;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px; }
      .section-resources .container .cards li p {
        color: #5E5570;
        font-weight: 400;
        font-size: 16px;
        line-height: 165%; }
      .section-resources .container .cards li:hover {
        background-color: rgba(196, 189, 219, 0.13);
        border-radius: 12px; }
        .section-resources .container .cards li:hover img {
          background-color: #ffffff; }
  @media (max-width: 1020px) {
    .section-resources .container .top {
      flex-direction: column;
      gap: 20px;
      text-align: center; }
    .section-resources .container .cards {
      flex-direction: column; }
      .section-resources .container .cards li {
        width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
        padding-left: 0px;
        padding-block: 30px; }
        .section-resources .container .cards li p {
          max-width: 300px; } }
