.section-resources {

    .container {
        padding-bottom: 40px;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 51px;
            margin-bottom: 53px;

            h2 {
                max-width: 502px;
                font-weight: 700;
                font-size: 32px;
                line-height: 130%;
            }

            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
            }
        }

        .cards {
            // border: 5px solid red;
            display: flex;
            align-items: center;
            gap: 20px;
            @include card;


            li {
                // border: 1px solid yellow;
                width: 280px;
                height: 323px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 42px;
                transition: .3s ease;

                img {
                    background-color: $bg-card ;
                    padding: 20px;
                    border-radius: 12px;
                    margin-bottom: 30px;
                }

                h3 {
                    color: $primary-color;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 20px;
                }

                p {
                    color: $gray-02;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 165%;
                }

                &:hover {
                    background-color: $bg-card;
                    border-radius: 12px;

                    img {
                        background-color: $white;
                    }
                }
            }

        }

        @include responsive(1020px) {
            .top {
                flex-direction: column;
                gap: 20px;
                text-align: center;
                // margin-bottom: 40px;

            }

            .cards {
                flex-direction: column;

                li {
                    // border: 1px solid yellow;
                    width: 100%;
                    height: auto;
                    align-items: center;
                    text-align: center;
                    padding-left: 0px;

                    p {
                        max-width: 300px;
                    }



                }
            }
        }
    }
}